{% extends 'base.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h1 mb-2 text-gray-800">Búsqueda de Modelos de Autos por Marca</h1>
    <p class="mb-4">La siguiente tabla muestra distintos modelos de automóviles de la marca "{{marca}}".
        Da click en alguno de los modelos para conocer más de él.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Número de resultados: {{ cuantos }} autos.</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Versión</th>
                            <th>País</th>
                            <th>Rating</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Versión</th>
                            <th>País</th>
                            <th>Rating</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                    <script type="text/javascript">
                        $(document).ready(function(){
                          $('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>
                    <tbody>
                        {% for obj in modelos.data %}
                        <tr>
                            <td>{{ obj.brand }}</td>
                            <td>{{ obj.model }}</td>
                            <td>{{ obj.year }}</td>
                            <td>{{ obj.version }}</td>
                            <td>{{ obj.country_of_origin }}</td>
                            <td>{{ obj.rating }}</td>
                            <td><!--a class="btn btn-success btn-sm" href="/car-model/{{ obj.id }}">Ver más</a>&nbsp &nbsp<!--a class="btn btn-primary btn-sm" href="#">Editar</a--><!--a class="btn btn-danger btn-sm" href="/delete-car/{{ obj.id }}">Eliminar</a-->
                                <a href="/car-model/{{ obj.id }}" class="btn btn-success btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Ver más">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="/rate-car-model/{{ obj.id }}" class="btn btn-info btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Ver más">
                                    <i class="fas fa-star"></i>
                                </a>
                                <a href="/edit-car-model/{{ obj.id }}" class="btn btn-primary btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="/delete-car/{{ obj.id }}" data-target="#deleteModal" class="btn btn-danger btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Borrar">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-grid gap-2 mx-auto text-center">
                <!--a class="btn btn-primary btn-lg mx-auto" href="/delete-car/{{ obj.id }}">Agregar modelo de auto</a-->   
                <a href="/add-car-model" class="btn btn-primary btn-icon-split btn-lg">
                    <span class="icon text-white-50">
                        <i class="fas fa-car-side"></i>
                    </span>
                    <span class="text">Agregar modelo de auto</span>
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar modelo de auto</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Seguro que quieres eliminar este dato?</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="/delete-car/{{ obj.id }}">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}